body { 
  background: url(https://i.pinimg.com/564x/b5/88/76/b588768d5da1f338e2a2ae668f108647.jpg);
  min-height: 100vh; /* Ensure the body takes full height */
  margin: 0;
  background-color: #e0e0e0; /* Optional: background color for the body */
}

.header-area .navbar {
  background-color: #ffffff; /* Light pink background color */
}

.travel-form {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  justify-content: center; /* Center horizontally */
  align-items: center; 
  margin-left: 550px;
  min-width: 500px;
  max-width: 700px;
  margin-top: 180px; /* Remove margin-top to allow proper centering */
  padding: 20px;
  background-color: #f0f0f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Optional: set a specific height or min-height */
  height: 550px; 
  /* min-height: 300px; */
}

.travel-form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.travel-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.travel-form button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(135deg, #f3c5d5, #dfcff3, #f3eae5); /* Gradient from light pink, purple, to light beige */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.travel-form button:hover {
  background: linear-gradient(135deg, #f3aac4, #ddc2ff, #fbf2ed); /* Gradient from light pink, purple, to light beige */
}

.no-matches {
  text-align: center;
  color: #ff8ba7;
  margin-top: 20px;
  font-size: 18px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Set max-width to limit the carousel width */
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  max-height: 400px; /* Limit the height of the image */
  object-fit: cover;
}

.carousel-item h2 {
  margin: 20px 0 10px;
  font-size: 24px;
  color: #333;
}

.carousel-item p {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicators button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.indicators button.active {
  background-color: white;
}
